
.t3-header {
    position: sticky;
    top: 8px;
    width: 100%;
    background: transparent;
}

.t3-bar {
    display: flex;
    height: 70px;
    background: black;
    color: #ddd;
    border-radius: 6px;
}

.logo {
    display: flex;
    padding-left: 50px;
    flex-basis: 35%;
    align-items: center;
    font-size: 28px;
}

.logo a {
    color: #ddd;
}

.t3-navbar {
    display: flex;
    flex-basis: 65%;
    justify-content: center;
    align-items: center;
    color: #ddd;
}

.t3-ul {
    all: unset;
}

.t3-nav-item {
    display: inline-block;
    font-size: 16px;
    padding: 0 25px;
}

.t3-nav-item a {
    color: #ddd;
}

.t3-nav-item a:hover {
    color: #f50;
    text-decoration: none;
}