html {
    background: #0f4c81;
}

p {
    color: whitesmoke;
}

.page {
    background: #0f4c81;
}

.t3-header {
    position: sticky;
    top: 10px;
    width: 100%;
    background: transparent;
}

.t3-bar {
    height: 70px;
    background: black;
    color: white;
    margin-left: 150px;
    margin-right: 150px;
    border-radius: 8px;
}