html {
    background: #333537;
}

p {
    color: whitesmoke;
}

.page {
    background: #333537;
}

.t3-header {
    position: sticky;
    top: 0;
    width: 100%;
    background: transparent;
}

.t3-bar {
    height: 70px;
    background: black;
    color: white;
    border-radius: 0 0 6px 6px;
    border-bottom: 1px solid #ddd;;
}